body{
    text-align:center;
    background-color:gray;
}
body{
    color:skyblue;
}



img{
    width:500px;
    height:300px;
}
ul{
    text-align: center;
}

background{
        
}

h1{
  color: skyblue;
  background-color:black; 
  
    
}

h2{
    background-color:black; 
    font-family: 'Indie Flower', cursive;
    
}

h3{
    background-color:black;  
    font-family: 'Indie Flower', cursive;
}

img{
   border:ridge;
   border-width: 20px;
   border-color: skyblue;
  
    
}

iframe{
     width: 560px;
     height:315px;
     border:ridge;
   border-width: 20px;
   border-color: skyblue;
}

h1:hover{
    color: green;
    border: green;
}